/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/** code by webdevtrick ( https://webdevtrick.com ) **/
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color-dark); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--first-color-darken); 
}

/* css variables */
:root{
  --header-height: 3rem;
  --nav-width:324px;
  
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --first-color:#1d202f;
  --first-color-dark: #263040;
  --first-color-darken: #131820;
  --text-color: #141921;
  --first-color-light: #cee1ff;
  --first-color-lighten: #FFFAFA;

  --body-font: 'poppins',san-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .813rem;

  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  --z-fixed: 100;
}

:root{
  --bs-dark: #212529;
}

.fixed{
  position: fixed;
  bottom: 20px;
  right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.theme-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* position: fixed;
  bottom: 20px;
  right: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

#theme-icon{
  width:60%;
}

.theme-container:hover {
  /* opacity: 0.8; */
  /* border:1px solid #00999e */
  /* box-shadow:  1px 1px 6px #00999e */
             /* -14px -14px 27px #00999e */
             /* ; */
}

.shadow-dark {
  /* background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20,
    -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c; */
    border-radius: 150px;
background: linear-gradient(145deg, #000000, #2a3442);
box-shadow:  8px 8px 17px #080a0d,
             -8px -8px 17px #1e2633;
}

.shadow-light {
  /* border-radius: 50%; */
  border-radius: 150px;
  background: linear-gradient(145deg, #848484, #ffffff);
  box-shadow:  14px 14px 27px #9c9c9c,
             -14px -14px 27px #ffffff;
  /* box-shadow:  8px 8px 26px #666666,
               -8px -8px 26px #ffffff; */


  /* box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px #d1d9e659,
    inset -11px -11px 3px #ffffff4d */
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}

@media (prefers-color-scheme: light) {
:root{
  --first-color:#1d202f;
  --first-color-dark: #263040;
  --first-color-darken: #131820;
  --text-color: #141921;
  --first-color-light: #cee1ff;
  --first-color-lighten: #FFFAFA;
}
}

@media (color-scheme: light) {
  :root{
    --first-color:#1d202f;
    --first-color-dark: #263040;
    --first-color-darken: #131820;
    --text-color: #141921;
    --first-color-light: #cee1ff;
    --first-color-lighten: #FFFAFA;
    --first-color-neuback-start:#848484; 
    --first-color-neuback-end: #ffffff;
  }
  }

@media (prefers-color-scheme: dark) {
  :root{  
    --first-color:white;
    --first-color-dark: white;
    --first-color-darken: #FFFAFA;
    --text-color: #cee1ff;
    --first-color-light: #141921;
    --first-color-lighten: #131820;
    --first-color-shade: #0d1116;
    --first-color-shadow: #191f2a;

    --first-color-neuback-start:#000000;
    --first-color-neuback-end: #2a3442;
  }
}
html {
  --first-color:white;
  --first-color-dark: white;
  --first-color-darken: #FFFAFA;
  --text-color: #cee1ff;
  --first-color-light: #141921;
  --first-color-lighten: #131820;
}

html[data-theme='light'] {
  --first-color:#1d202f;
  --first-color-dark: #263040;
  --first-color-darken: #131820;
  --text-color: #141921;
  --first-color-light: #cee1ff;
  --first-color-lighten: #dfdfdf;
  --first-color-shade: #9c9c9c;
  --first-color-shadow: #ffffff;
  --first-color-neuback-start:#848484; 
  --first-color-neuback-end: #ffffff;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 9s !important;
  transition-delay: 0 !important;
}


@media screen and (min-width: 768px){
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
  
}


/* base */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}
body.dark{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  line-height: 1.6;

}

h1,h2,h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  width:100%;
  list-style: none;
}

a{
  text-decoration:none;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* section main styling */
.section{
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/* grid styling */
.bg-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* navbar head */
.head{
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow:0 2px 4px rgba(0,0,0,0.1)
}

/* navbar */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin:0 10px;
}

.nav__menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  align-items:center;
  /* background-color: var(--first-color); */
  transition: .5s;
}
.menu{
  background-color: var(--first-color);
  position:relative;
  width:60%;
  height: 100vh;
  align-items:center;
  display: flex;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-lighten);
  cursor: pointer;
}

.white__space{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  /* background-color: var(--first-color); */
  width:100%;
}

.nav__item{
  margin-bottom: var(--mb-4);
}

.nav__link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: .3s;
}
.nav__link div{
  padding:0 3rem;
}

.nav__link:hover{
  color: var(--text-color);
  text-shadow: 0 0 2px #ffffff;
}

.nav__toggle{
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/* show nav */
.show{
  left: 0;
}

/* selected menu item */
.active{
  text-shadow: 0 0 10px #00999e;
  color: #00999e;;
}

/* home section */
.home__container{
  height:calc(100vh - var(--header-height));
  align-items: center;
}

#profile__pic {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  /* z-index: -1; */
/* background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  8px 8px 26px #666666,
             -8px -8px 26px #ffffff; */
}

.home__data{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}
.home__img{
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(70deg);
  transform-origin: 0 0; */
  /* bottom: 0; */
  width:302px;
  height: 302px;
  /* padding:20px; */
  /* background-color: var(--first-color-lighten); */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
  /* border-radius: 150px;*/
  /* background: linear-gradient(145deg, #e6e6e6, #ffffff); */
  background: linear-gradient(145deg, var(--first-color-neuback-start), var(--first-color-neuback-end));
  box-shadow:  34px 34px 69px var(--first-color-shade),
               -34px -34px 69px var(--first-color-shadow);
}

.home__title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  padding-top:20px;
}

#to_Top i{
  display: inline-flex;
  /* background-color: var(--first-color); */
  color: #00999e;
  font-size:30px;
  z-index: 5;
  margin-bottom: 12px;
  font-weight: 400;
  text-shadow: 0px 0px 10px white;

  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #00999e;
  /* border-radius:5%; */
  /* padding: .40rem; */
  /* margin:10px 0.5rem; */
  /* transition: .3s; */
}
.home__skills{
  position: relative;
  width: 100%;
  /* padding:20px; */
  margin:auto;
  margin-bottom: 20px;
  display:flex;
  justify-content:center
}

.home__profession{
  font-size: 1rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
  position:absolute;
  opacity: 0;
  text-align: center;
}

.home__social{
  margin:1rem 0 2rem;
  /* margin-bottom: 5rem; */
}

.home__social-link{
  display: inline-flex;
  background-color: var(--first-color);
  color:var(--first-color-lighten);
  font-size:1.1rem;
  border-radius:30%;
  padding: .40rem;
  margin:0 var(--mb-1);
  transition: .3s;
}

.home__social-link:hover{
  background-color: var(--first-color-dark)
}

.home__button{
  width: 100%;
}

/* buttons */
.button{
  display: inline-block;
  background-color: var(--first-color);
  color:var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
  transition:.3s;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.button__light {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button__light:hover { 
  color: var(--first-color-lighten);
}
.progress {
  margin:0 10px 0 10px;
}

.progress__number {
  display: flex;
}

.progress__data {
  position: relative;
  /* top: 0; */
  /* bottom: 0; */
  min-width: 100%;
  display:flex;
  justify-content: center;
  margin:0 var(--mb-2);
  margin-bottom:var(--mb-4);
}

.progress__bar{
  position:absolute;
  left:0;
  bottom:-.75rem;
  height: .5rem;
  background-color: var(--first-color);
}

.progress__percent{
  width: 80%;
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  align-items: center;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-4);
  color: var(--first-color-dark);
}

.about__img{
  width: 150px;
  border-radius: .5rem;
  margin: 0 auto;
}

.about__information{
  margin-bottom: var(--mb-4);
}

.about__information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.about__information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon{
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin-right: var(--mb-4);
}

.about__information-subtitle{
  display:block;
  font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small{
  font-size: var(--small-font-size);
}

.about__icons{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size:6rem;
  border-radius:5%;
  padding: .40rem;
  margin:10px 0.5rem;
  transition: .3s;
}

.about__icons:hover{
  border-radius:50%;
  background-color: var(--first-color-darken);
}

.about__social{
  margin:1rem 0 2rem;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin:auto;
  /* margin-bottom: 5rem; */
}

.about__tech {
  display:flex;
  flex-direction: column;
  width:min-content;
}

/* works section*/
.works{
  /* height:calc(100vh - var(--header-height)); */
  margin-bottom: var(--mb-3);
}
.works__container{
  justify-items: center;
  row-gap: 2rem;
}

.works__img{
  position:relative;
  overflow:hidden;
  border-radius: .5rem;
  max-height: 330px;
}

/* .works__img img{
  height: 300px;
} */

.works__img h3{
text-align:center;
}

.works__data{
  position:absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background: #1d202ff2;
  border-radius: .5rem;
  transition: .3s;
}

.works__data a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content:flex-start;
}

.works__link{
  /* display: inline-flex !important; */
  display: inline-block!important;
  width:max-content !important;
  height: max-content !important;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  margin:12px;
  /* margin-bottom: var(--mb-2); */
}

/* .works__link{
  display: inline-block;
   font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  margin-bottom: var(--mb-2); 
} */

.works__title{
  /* font-size: var(--h2-font-size); */
  color: white;
  text-align: center;
  padding:0 10px;
  display: block;
  overflow: auto;
}

.works__img:hover .works__data{
  bottom: 0;
}


/* contact section */
.contact__container{
  row-gap: 3rem;
  /* display: grid; */
}

.contact__info{
  position: relative;
  top: 0;
  bottom: 0;
  min-width: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
  margin:0 var(--mb-2);
  /* margin-bottom: var(--mb-3); */
}
.contact-title {
  font-size: var(--h1-font-size);
  /* color: var(--first-color); */
  font-weight: 600;
  /* margin-bottom: var(--mb-3); */
  text-align: center;
  /* text-align: justify; */
}
.contact-text {
  font-size: .938rem;
  /* color: var(--first-color); */
  font-weight: 500;
  /* margin-bottom: var(--mb-3); */
  text-align: center;
}
.contact__email{
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact__social-link {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.contact__form{
  position: relative;
  top: 0;
  bottom: 0;
  min-width: 200px;
  width: 100%;
  max-width: 427px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
  /* margin:0 var(--mb-2); */
  margin: 0 auto;
  /* margin-bottom: var(--mb-3); */
}
/* .contact__form form{
  position: relative;
  top: 0;
  bottom: 0;
  min-width: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 var(--mb-2);
  margin-bottom: var(--mb-3);
} */
input,textarea{
  width: 100%;
  padding:10px;
  margin: 5px;
  border-radius: 12px;
  border: 2px solid var(--first-color-dark);
  resize: none;
}
input:focus,textarea:focus{
outline: none;
border:2px solid #00999e;
}
input::placeholder,textarea::placeholder,input[type=submit]{
  color: #131820 ;
  text-transform: capitalize;
  font-family: var(--body-font),sans-serif;
  letter-spacing: 2px;
  font-weight: var(--font-medium);
}
input[type=submit]{
  background-color: #131820 ;
  /* background-color: var(--text-color); */
  color: white;
  text-transform: uppercase;
  border: 2px solid var(--first-color);
}
input[type=submit]:hover{
  border:2px solid #00999e;
  /* color: #00999e; */
}
input[type=submit]:active{
  border:2px solid #00999e;
  background-color: #00999e;
}
@keyframes wave {
  from {
    transform: rotate(0deg);
    transform-origin: 100% 100%;
  }
  to {
    transform: rotate(40deg);
    transform-origin: 100% 100%;
  }

}

.wave{
  display: inline-block;
  width: min-content;
  animation-name: wave;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

.contact__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.contact__text{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 230px;
  width: max-content;
  align-items: center;
  padding-left: 1rem;
}

/* media queries */
@media screen and (max-width: 768px) {
  .home__button{
    width: initial;
    margin-bottom:60px;
  }
  /* .theme-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    top: 7px;
    z-index: 101; */
    /* bottom: 20px; */
    /* right: 20px; */
    /* left: 0;
right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
  } */
  .home__img{
    /* background: linear-gradient(145deg, var(--first-color-neuback-start), var(--first-color-neuback-end)); */
    box-shadow:  14px 14px 7px var(--first-color-shade),
                 -14px -14px 7px var(--first-color-shadow);
                 
  }

}
@media screen and (min-width: 768px) {
  .home__button{
    width: initial;
  }

  .nav__menu{
    width: var(--nav-width);
  }

  .skills__container,
  .services__container,
  .works__container,
  .contact__inputs,
  .contact__container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }

  .head{
    width:0;
  }

  .nav__toggle, .nav__logo, .nav__close{
    display: none;
  }

  .nav__menu{
    left:0;
  }

  .home__container{
    height: 100vh;
  }

  .section{
    padding: 3rem 0 2rem;
  }
  

  .bg-grid{
    margin: 0 auto;
  }
  .menu{
    width:100%;
  }

}

.game{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  /* top: 108px; */
  /* left: 0; */
  /* bottom: 0; */
  width:300px;
  height:300px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
  color:white;
  /* transition: width 2s, height 2s,;  */
  z-index: 5;
  

}
.tester{
  background-color: green;
  position:absolute;
  top:0;
  /* width: 100%; */
  height:300px;
  z-index:200;
}

.game:hover {
  /* z-index: 1;
  width:100%;
  border-radius: 0;
  height: 100vh;  */
}

@keyframes rumble {
  0%, 47%       { -webkit-transform: translate(0px, 0px); }
  47%, 48%       { -webkit-transform: translate(0px, 0px); }
  48%, 49%     { -webkit-transform: translate(10px, 1px); }
  49%, 50%     { -webkit-transform: translate(-1px, -10px); }
  50%, 51%    { -webkit-transform: translate(-10px, -1px); } 
  51%, 52%     { -webkit-transform: translate(1px, 10px); }
  52%, 53%       { -webkit-transform: translate(0px, 0px); }
  53%, 100%       { -webkit-transform: translate(0px, 0px); }
  /* 0%   {transform: translate(5px, 5px);}
  25%  {transform: translate(1px, 5px);}
  50%  {transform: translate(5px, 1px);}
  75%  {transform: translate(1px, 5px);}
  100% {transform: translate(5px, 1px);}   */
}

.flip {
  position: relative;  
  width:100%;
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s; 
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  animation-name: rumble;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite; 
}

.is-flipped {
  transform: rotateY(180deg);
}